.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    color: white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 7rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;

    transform: scale(80);
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
  }

  &__list {
    @include center-element;

    text-align: center;
  }
  
  &__item {
    list-style: none;
    margin: 3rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 1rem 2rem;
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      // works with background-position for fill effect
      background-size: 250%;
      transition: all .35s;
    }

    &:hover,
    &:active {
      // works with background-size for fill effect
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__link-prefix {
    margin-right: 1.125rem;
  }
}
