.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  padding: 6rem;
  margin-bottom: 6rem;
  font-size: $font-default;
  padding-left: 9rem;
  transform: skewX(-12deg);
  background-color: rgba($color-white, .6);

  &__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: orangered;
    
    
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__text {
    transform: skewX(12deg);
  }

  &__image {
    height: 100%; 
    transform: translateX(-5rem) scale(1.4);
    transition: all .5s;
  }

  &__caption { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center; 
    font-size: 1.7rem;
    color: $color-white;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
    text-transform: uppercase;
  }

  &:hover &__caption {
    opacity: 1; 
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(.3rem) brightness(80%);  
  }
}
