*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*font-size: 10px;*/ /* Accessibility: Set REM as % of the default font-size; fixed px width is not accessible. */
  font-size: 62.5%; /* Accessibility: 10px [desired] / 16px [default] = .625 [actual]*/
}

body {
  box-sizing: border-box; /* Responsively set the total width and height of a box (content-box, padding-box) */
}
