.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
    315deg,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg); /* gradient (top, left, bottom) */
  background-size: cover; /* Responsively sets the bg image width to container width */
  background-position: top; /* Sets the top of the image to aleways be the page top (bottom, center) */

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4.0rem;
    left: 4.0rem;
    height: 3.5rem;
  }

  &__logo {
    height: 3.4rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
